@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #ccc;
}

.logo1 {
    display: inline-block;
    width: 180px;
    height: 50px;
    margin: 20px 0 0 0;
    background-image: url('../images/logo1.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo2 {
    display: inline-block;
    width: 160px;
    height: 50px;
    margin: 20px 0 0 0;
    background-image: url('../images/logo2.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.intro {
    max-width: 1200px;
    margin: 0 auto;
}

.box-img {
    width: 100%;
    height: 500px;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 100%;
}

.user-form {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 150px;
    right: 50%;
    transform: translate(50%, calc(-50% + 75px));
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.437);
}

.form-text {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.form-text p {
    height: 100%;
}

.box-input {
    padding: 10px;
}

.conf-input {
    border: 1px solid black;
    border-radius: 10px;
}

.conf-input input {
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button-input {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.button-input input[type="button"] {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #3D8DF5;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-input input[type="button"]:hover {
    background-color: #88B8F7;
}

@media screen and (min-width: 360px) and (max-width: 600px){
    .header {
        height: 80px;
    }

    .logo1 {
        float: left;
    }

    .logo2 {
        float: right;
    }
}

@media screen and (min-width: 600px) {
    .user-form {
        top: 30px;
        right: 30px;
        transform: translate(0, 0);
    }
    
    .form-text {
        height: 100px;
    }

    .form-text p {
        padding-top: 25px;
    }
}