@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #ccc;
}

.logo1 {
    display: inline-block;
    width: 180px;
    height: 50px;
    margin: 20px 0 0 0;
    background-image: url('../images/logo1.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo2 {
    display: inline-block;
    width: 160px;
    height: 50px;
    margin: 20px 0 0 0;
    background-image: url('../images/logo2.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.mx-w {
    max-width: 1200px;
}

.box-img {
    width: 100%;
    height: 500px;
    position: relative;
}

.intro-img {
    width: 100%;
    height: 100%;
}

.user-form {
    position: absolute;
    top: 175px;
    right: 50%;
    transform: translate(50%, calc(-50% + 75px));
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.437);
}

.form-text {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.form-text p {
    height: 100%;
}

.box-input {
    padding: 10px;
}

.conf-input {
    border: 1px solid black;
    border-radius: 10px;
}

.conf-input input {
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button-input {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.button-input input[type="button"] {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #1993E0;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-input input[type="button"]:hover {
    background-color: #88B8F7;
}

.center {
    margin: 0 auto;
}

.call {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background-color: #E0DE46;
    font-weight: bold;
}

.max {
    width: 100%;
    max-width: 600px;
    color: #186494;
}

.f1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
    font-style: oblique;
}

.gi {
    margin-bottom: -5px;
}

.gi-p {
    background-color: #1994e044;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gi-p p {
    width: 100%;
    max-width: 300px;
    font-weight: bolder;
}

.gi-img img {
    max-width: 100%;
}

.gi-img[id="last"] img[alt="mosaico4"] {
    height: 100%;
}

footer {
    width: 100%;
    background-color: #ccc;
    z-index: 10;
}

.ft {
    background-color: #cccc;
    text-transform: uppercase;
}

.fc {
    background-color: #cccc;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 600px;
    line-height: 2;
}

.df {
    background-color: white;
    text-align: center;
}

.df p {
    padding: 10px;
    max-width: 300px;
}

.logo1-f {
    height: 100px;
    background-color: white;
    float: none !important;
}

.fm {
    margin-top: 0px !important;
}

@media screen and (min-width: 360px) {
    .header {
        height: 70px;
    }

    .logo1 {
        float: left;
        margin: 12px 0 0 0;
    }

    .logo2 {
        float: right;
        margin: 12px 0 0 0;
    }
}

@media screen and (min-width: 600px) {
    .user-form {
        top: 20px;
        right: 30px;
        transform: translate(0, 0);
    }
    
    .form-text {
        height: 100px;
    }

    .form-text p {
        padding-top: 25px;
    }

    .galerry {
        margin-bottom: 5px;
    }

    .gi {
        display: flex;
    }

    .gi:nth-of-type(2n + 1) {
        flex-direction: row-reverse;
    }

    .gi-p {
        height: auto;
        min-width: 40%;
    }

    .gi-img {
        height: auto;
        min-width: 60%;
    }
}

@media screen and (min-width: 800px) {
    .gi-p {
        font-size: 20px;
    }

    .ft {
        font-size: 20px;
    }

    .fc {
        font-size: 16px;
    }

}