@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #ccc;
}

.logo1 {
    float: left;
    width: 180px;
    height: 95%;
    margin: 0 0 0 100px;
    background-image: url('../images/logo1.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo2 {
    float: right;
    width: 160px;
    height: 90%;
    margin: 0 100px 0 0;
    background-image: url('../images/logo2.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 343px) {
    .header {
        text-align: center;
        height: 150px;
    }

    .logo1 {
        float: none;
        height: 50px;
        margin: 20px 0 0 0;
        background-size: 80%;
        display: inline-block;
    }

    .logo2 {
        float: none;
        height: 50px;
        margin: 20px 0 0 0;
        background-size: 80%;
        display: inline-block;
    }
}

@media screen and (min-width: 344px) and (max-width: 600px){
    .header {
        height: 80px;
        text-align: center;
    }

    .logo1 {
        float: none;
        height: 50px;
        margin: 20px 0 0 0;
        background-size: 80%;
        display: inline-block;
    }

    .logo2 {
        float: none;
        height: 50px;
        margin: 20px 0 0 0;
        background-size: 80%;
        display: inline-block;
    }
}